<app-navbar></app-navbar>

<div class="form my-5 text-center">
    <form>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <input type="text" class="form-control mb-3" placeholder="Nome Completo">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control mb-3" placeholder="E-mail">
            </div>
        </div>
    </form>
</div>

<div class="container-anexar-curriculo text-center">
    <form>
        <div class="form-group">
            <label for="exampleFormControlFile1" class="mb-2">Envie seu Currículo</label>
            <input type="file" class="form-control-file d-inline-block" id="exampleFormControlFile1">
        </div>
    </form>
    <button type="button" class="btn btn-primary mt-3">Enviar</button>
</div>

